.categoryWrap {
  height: 100%;
  max-width: 159px;
  margin: 0 auto;

  .inner {
    height: 50%;
    padding: 10px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1), -4px -4px 10px 0px rgba(246, 246, 246, 0.5);
  }
}
