.categoryWrap {
  height: 100%;
  max-width: 159px;

  .inner {
    position: sticky;
    top: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1), -4px -4px 10px 0px rgba(246, 246, 246, 0.5);

    button {
      background: none;
      border: none;

      &.arrowBtn {
        width: 100%;
      }
    }

    // ㅋㅏ테고리 리스트
    .categoryBox {
      height: 400px;
      padding: 0;
      // overflow: auto;
      overflow: hidden;
    }

    .categories {
      .category {
        position: relative;
        width: 100%;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;

        &.active {
          background-color: red;
        }

        button {
          padding: 0;
          width: 100%;
          height: 100%;

          span {
            display: inline-block;
          }
        }

        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: 10px;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   width: 50%;
        //   height: 50%;
        //   border: 1px solid #eee;
        // }
      }
    }
  }
}
